<?xml version="1.0" encoding="utf-8" ?>
<routes>
  <route url="/Blog_Billet_simple_pour_l_Alaska/Web/" module="News" action="index" />
  <route url="/Blog_Billet_simple_pour_l_Alaska/Web/news-([0-9]+)\.html" module="News" action="show" vars="id"/>
  <route url="/Blog_Billet_simple_pour_l_Alaska/Web/commenter-([0-9]+)\.html" module="News" action="insertComment" vars="news" />
</routes>